<!doctype html>
<html lang="utf-8">
    <head>
        <title>糖尿病分析預判系統</title>
        <meta charset="utf_8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Form control:Input</h2>
            <p>請輸入你的相關資料，以便進行分析判斷</p>
            <form action="aml" method="post">
                <div class="form-group">
                    <label for="p1">Pregnancies</label>
                    <input type="text" class="form-control" name="p1">
                    <label for="p2">Glucose</label>
                    <input type="text" class="form-control" name="p2">
                    <label for="p3">BloodPressure</label>
                    <input type="text" class="form-control" name="p3">
                    <label for="p4">SkinThickness</label>
                    <input type="text" class="form-control" name="p4">
                    <label for="p5">Insulin</label>
                    <input type="text" class="form-control" name="p5">
                    <label for="p6">BMI</label>
                    <input type="text" class="form-control" name="p6">
                    <label for="p7">DiabetesPedigreeFunction</label>
                    <input type="text" class="form-control" name="p7">
                    <label for="p8">Age</label>
                    <input type="text" class="form-control" name="p8">
                </div>
            </form>
        </div>

    </body>
</html>